.button-cancel {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #d90429;
    color: #d90429;
    font-family: 'Concert One', Arial, Helvetica, sans-serif, cursive;
    font-size: larger;
    margin-left: 0px;
}

.button-cancel:hover {
    color: #fff;
}

.button-cancel:hover:after {
    width: 100%;
}

.button-cancel:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #d90429;
}

.button-add {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid green;
    color: green;
    font-family: 'Concert One', Arial, Helvetica, sans-serif, cursive;
    font-size: larger;
    margin-left: 40px;
    margin-top: 30px;
}

.button-add:hover {
    color: #fff;
}

.button-add:hover:after {
    width: 100%;
}

.button-add:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: green;
}

form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
}

textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}